{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="名古屋のB級グルメ専門のレビューサイトです。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
     <!--ヘッダー-->
     <header>

        <!--ロゴ-->
        <a href="{% url 'top' %}" id="logo"><img src="/static/images/logo.png" alt="トップページに戻る"></a>

        <!--PC用ナビゲーション-->
        {% if request.user.is_authenticated %}
        <span class="navbar-text">
          ようこそ {{ user.get_username }} さん
        </span>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="ログアウト">
          </form>
        </li> 
        {% else %}


        <nav id="nav-pc">
        <a href="{% url 'login' %}">ログイン</a>
        <a href="{% url 'signUp' %}">新規登録</a>
        {% endif %}
    </nav>
    </header>

    <title>
        {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
      <div id="footer-logo">
        <a href="{% url 'top' %}" id="logo"><img src="/static/images/logo.png" alt="トップページに戻る"></a>
        <a href="{% url 'companyoverview' %}">会社概要</a>
        <a href="{% url 'membershipterms' %}">会員規約</a>
        <span id="copyright">&copy;NAGOYAMESHI All rights reserved. </span>
      </div>
    </footer>
  </body>
</html>