
{% extends "base.html" %}
{% load static %}
{% block title %}予約カレンダー{% endblock %}
{% block content %}
{% csrf_token %}
<div class="text-center my-5">
    <div class="row">
        <div class="col-md-6 mb-4 text-center calendar">
        </div>

        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body px-2 py-1">
                    <div class="p-4 text-left">
                        <h3>
                        </h3>
                        <hr />
                        <p>店舗：{{ store.name }}店</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <h1>予約カレンダー</h1>
        <p>{{ start_day }}～{{ end_day }}</p>
    </div>

    <div class="d-flex mb-2">
        <div class="mx-3 mr-auto">
            <a class="btn btn-warning"
                href="{% url 'calendar' store.id before.year before.month before.day %}">前週</a>
        </div>
        <div class="mx-3">
            <a class="btn btn-warning"
                href="{% url 'calendar' store.id next.year next.month next.day %}">次週</a>
        </div>
    </div>


<!-- 最初の行に日付を表示 -->
<tr>
    <td></td> <!-- 左上のセルは空白 -->
    {% for dt in dates %}
        <td>{{ dt }}</td>
    {% endfor %}
</tr>

<!-- 次の行から時間と予約状況を表示 -->
{% for hour, schedules in calendar.items %}
    <tr style="font-size:12px">
        <td scope="row">
            {{ hour }}:00
        </td>
        {% for dt, book in schedules.items %}
            <td>
                {% if dt <= today %}
                    -
                {% elif book %}
                    <a href="">○</a>
                {% else %}
                    ×
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endfor %}



    </tr>


</table>


            </tbody>
        </table>
    </div>
    {% endblock %}



    {% form.first_name class="form-control" placeholder="姓" %}
    {% render_field form.last_name class="form-control" placeholder="名" %}
    {% render_field form.tel class="form-control" placeholder="080-1234-5678" %}
    {% render_field form.remarks class="form-control" %}