{% extends "base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
    <main>

        <article>
            <h1>ログイン</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.password.label_tag }}
                {{ form.password }}
            <input type="submit" class="btn btn-primary" value="ログイン">
            <div><input type="checkbox" id="horns" name="horns" /><p>次回から自動的にログインする</p></div>
            <p><a href="{% url 'logout' %}">ログアウト</a></p>
            <p><a href="{% url 'password_change' %}">パスワードを忘れた場合</a></p>
            <a href="{% url 'top' %}">新規会員登録はこちら</a>
            </form>
        </article>
        
    </main>
{% endblock %}