{% extends "base.html" %}
{% load static %}
{% block title %}店舗詳細{% endblock %}
{% block content %}
{% csrf_token %}
    <main>
        <article>
           <h1>店舗詳細</h1>
           <body>
            <h1>{{ store.name }}の詳細</h1>
            <p>説明: {{ store.description }}</p>
            <p>住所: {{ store.address }}</p>
            <p>電話番号: {{ store.phone_number }}</p>
            {% if store.image %}
            <img src="{{ store.image.url }}" alt="{{ store.name }}" width="200">
            {% else %}
            <img src="static/images/default_image.png" alt="デフォルト画像" width="200">
            {% endif %}
           
            <a href="{% url 'booking' store.id %}">予約する</a>

            {% if user.is_authenticated %}
            <!-- お気に入り追加/解除ボタン -->
            <form method="post" action="{% url 'toggle_favorite' store.id %}">
                {% csrf_token %}
                <button type="submit">
                    {% if favorite %}
                    お気に入りから削除
                    {% else %}
                    お気に入りに追加
                    {% endif %}
                </button>
            </form>
            {% else %}
            <p>お気に入りに追加するには <a href="{% url 'login' %}">ログイン</a>してください。</p>
            {% endif %}
            {% for msg in messages %}
            <p class="{{ msg.tags }}">{{ msg }}</p>
            {% endfor %}
        </body>
        </article>
    </main>
{% endblock %}
