{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>  
        <script src="{% static 'main.js' %}"></script> 
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="description" content="名古屋のB級グルメ専門のレビューサイトです。">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <a href="{% url 'top' %}" id="logo"><img src="{% static 'images/logo.png' %}" alt="トップページ"></a>
        <!--PC用ナビゲーション-->
        {% if request.user.is_authenticated %}
        <span class="navbar-text">ようこそ {{ user.get_username }} さん</span>
        <!-- ユーザーの種類に基づいて異なるマイページへのリンクを表示 -->
        {% if user.user_type == 1 %}
        <a href="{% url 'user_dashboard' %}">マイページ</a>
        {% elif user.user_type == 2 %}
        <a href="{% url 'store_dashboard' %}">マイページ</a>
        {% endif %}

        <li class="nav-item" style="list-style-type: none;">
            <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" style="background: none!important; font-size: 16px; border: none; padding: 0!important; color: #069; text-decoration: underline; cursor: pointer;">ログアウト</button>
            
            </form>
            </li> 
          
            {% else %}
            <nav id="nav-pc">
            <a href="{% url 'login' %}">ログイン</a>
            <a href="{% url 'sign_up' %}">新規登録</a>
            </nav>
            {% endif %}

        </nav>
        <div class="container mt-4">
        {% block main %}
        
        {% endblock %}
        
        </div>
        <footer>
            <div id="footer-logo">
              <a href="{% url 'top' %}" id="logo"><img src="{% static 'images/logo.png' %}" alt="トップページ"></a>
              <a href="{% url 'companyoverview' %}">会社概要</a>
              <a href="{% url 'membershipterms' %}">会員規約</a>
              <span id="copyright">&copy;NAGOYAMESHI All rights reserved. </span>
            </div>
           </footer>
    </body>
</html>